html
  head
    title= title
    rel(rel="stylesheet" href="/public/stylesheets/style.css")
  body
    h1= message
    p This application executes a simple query on a MySQL database.
    table
      each row in database
        tr
          td= row.orderid
          td= row.name
          td= row.desc