html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  body
    a(href='/') HOME
    h1 Service ##{id}
    table
      each row in serviceOutput
        tr
          each value in row
            td= value

    form(action="/service/new" method="post")
      p Items marked <span style="color: red;">*</span> are required
      .input
        label(for="time") Enter time (yyyy/mm/dd 00:00): <span style="color: red;">*</span>
        input(type="text" id="time" name="time" value=time required)
      .input
        label(for="theme") Enter theme:
        input(type="text" id="theme" name="theme" value=theme)
      .input
        label(for="songleader") Select Songleader
        select(id="songleader" name="songleader")
          each songleader in slOutput
            unless songleader == null
              option(value=songleader.id) #{songleader.name}
            else
              option(value='')
      input(type="submit" value="CREATE SERVICE")